/*通用規則*/
:root {
  --Primary-Default: #295d72;
  --Secondary-Default: #fac470;
  --white_p: #ffffff;
  --gray_p: #a1a1a1;
  --black_p: #353535;
}

/* ---------- 通用 ---------- */
html{
  scroll-behavior: smooth;
}
.el-header{
  background: var(--Primary-Default);
}
.title-primary{
  color: var(--Primary-Default);
}
.title-secondary{
  color: var(--Secondary-Default);
}
.btn:focus{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.container{
  padding-left: 30px;
  padding-right: 30px;
}

/* ---------- HeaderTop ---------- */
.bg-light{
  background: var(--Primary-Default) !important;
  position: fixed;
  width: 100%;
  box-shadow:  0 2px 6px 0 rgba(70, 94, 100, 0.28), 0 2px 6px 0 rgba(70, 94, 100, 0.28);
  z-index: 10;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  color: var(--white_p);
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus{
  color: var(--white_p);
}
.navbar-light .navbar-brand{
  color: var(--white_p);
}
.navbar-light .navbar-nav .nav-link{
  color: var(--white_p);
  font-size: 1.2rem;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
  color: var(--Secondary-Default);
}
.navbar-collapse{
  border-top: 2px solid rgba(255, 255, 255, 0.24);
}
.navbar-light .navbar-toggler{
  border: 0 solid transparent;
  color: var(--white_p);
  font-size: 1.4rem;
}
.navbar-blog {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: var(--white_p);
}
.navbar-blog:hover {
  color: var(--Secondary-Default);
}
.modal-mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  transition: opacity .3s ease;
  display: block;
}
@media screen and (min-width:992px){
  .navbar-collapse{
    border-top: 0px solid transparent;
  }
}

/* ---------- Profile ----------*/
/* .Profile{
  height: calc( 100vh - 60px );
} */

.Profile_imgBox img{
  width: 100%;
}
.Profile_title{
  position: relative;
  padding-left: 20px;
  font-size: 3rem;
}
.Profile_title:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--Primary-Default);
  width: 8px;
  height: 100%;
}
.Profile_introduce{
  font-size: 1.2rem;
}
.readMore_btn{
  background: var(--Primary-Default);
  border-radius: 30px;
  color: var(--white_p);
  cursor: pointer;
  text-decoration: none;
}
.readMore_btn:hover{
  color: var(--Secondary-Default);
  transition: 0.3s;
  text-decoration: none;
}
@media screen and (min-width:768px){
  .Profile_title{
    font-size: 3.2rem;
  }
}
@media screen and (min-width:992px){
  .Profile_title{
    font-size: 3.2rem;
  }
}

/* ---------- About Me ----------*/
.AboutMe{
  height: auto;
  background: var(--Primary-Default);
}
.aboutMe-content{
  color: var(--white_p);
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
}
@media screen and (min-width:768px){
  .aboutMe-content{
    color: var(--white_p);
    font-size: 1.2rem;
  }
}
@media screen and (min-width:992px){
  /* .AboutMe{
    height: 100vh;
  } */
  .aboutMe-content{
    color: var(--white_p);
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

/* ---------- Experience ----------*/
.el-timeline{
  padding-left: 0;
}
.el-timeline-item__node{
  background-color: var(--Secondary-Default);
  border-color: var(--Secondary-Default);
}
.el-timeline-item__tail{
  border-left: 2px solid var(--Secondary-Default);
}
.el-timeline-item__timestamp{
  font-size: 1rem;
  color: var(--Secondary-Default);
}
.el-card__body h4{
  font-weight: bold;
  color: var(--Primary-Default);
}
.el-card__body p{
  font-size: 1.2rem;
  padding-bottom: 10px;
  color: var(--black_p);
}

/* ---------- Skills ----------*/
.Skills{
  height: auto;
  background: var(--Primary-Default);
}
.carousel-container{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-wrapper{
  cursor: grab;
}
.swiper-pagination-bullet-active{
  background: var(--white_p);
}
.arrow-btn{
  color: var(--white_p);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
.arrow-left{
  left: 0;
}
.arrow-right{
  right: 0;
}
.skill_Card{
  width: 200px;
}
.skill_Title{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
.skill_fill{
  background: var(--white_p);
  color: var(--Primary-Default);
}
.skill_line{
  color: var(--white_p);
  border: 2px solid var(--white_p);
}
.skill_Content{
  border-top: 1px solid var(--white_p);
}
.skill_Content p{
  color: var(--white_p);
  font-size: 1.2rem;
}
.dolt{
  position: relative;
}
.dolt:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 2%;
  width: 12px;
  height: 12px;
  background: var(--Secondary-Default);
  border-radius: 12px;
  transform: translate(-50%, -50%);
}
@media screen and (min-width:992px){
  .arrow-btn{
    display: none;
  }
}
@media screen and (min-width:1200px){
  .arrow-btn{
    display: none;
  }
  .swiper-wrapper{
    cursor: default;
  }
}

/* ---------- Portfolio ----------*/
p.portfolio-card-title{
  margin: 0;
  color: var(--Primary-Default);
  white-space: nowrap;
}
.el-card__body img{
  width: 100%;
}
.lookup_btn{
  background: var(--Primary-Default);
  color: var(--white_p);
  border-radius: 30px;
  padding: 4px 30px;
}
.lookup_btn:not(.is-disabled):focus, .lookup_btn:not(.is-disabled):hover{
  background: var(--Primary-Default);
  color: var(--Secondary-Default);
}